.inactive-style {
    text-decoration: none;
    padding: 1rem;
    color: aliceblue;
}

.active-style{
    text-decoration: none; 
    padding: 1rem;
    color: rgb(57, 57, 72);
    background-color: rgb(150, 154, 158);
}